const services = [
  {
    name: 'consultancy',
    packages: {
      basic: {
        description: 'A short description of the basic service offering',
        amount: 10
      },
      standard: {
        description: 'A short description of the standard service offering',
        amount: 20,
      },
      premium: {
        description: 'A short description of the premium service offering',
        amount: 30
      }
    }
  },
  {
    name: 'translation',
    packages: {
      basic: {
        description: 'A short description of the basic service offering',
        amount: 10
      },
      standard: {
        description: 'A short description of the standard service offering',
        amount: 20,
      },
      premium: {
        description: 'A short description of the premium service offering',
        amount: 30
      }
    }
  },
  {
    name: 'graphic design',
    packages: {
      basic: {
        description: 'A short description of the basic service offering',
        amount: 10
      },
      standard: {
        description: 'A short description of the standard service offering',
        amount: 20,
      },
      premium: {
        description: 'A short description of the premium service offering',
        amount: 30
      }
    }
  }
];

module.exports = {
  services: services
};
