const profile = {
  name: 'yourname',
  domain: 'domain.com',
  venture: 'name of venture',
  pricing: 'https://domain.com/pricing',
  email: {
    sender: 'donotreply@domain.com',
    receiver: 'username@domain.com'
  },
  social: {
    blog: 'https://blog.domain.com',
    linkblog: 'https://linkblog.io/users/username',
    twitter: 'https://twitter.com/username',
    github: 'https://github.com/username',
    linkedIn: 'https://linkedin.com/in/username',
    instagram: 'https://instagram.com/username',
  }
};

module.exports = profile;
