<!-- One -->
<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2>Purchase Failure</h2>

    <p class="major">There was an error while purchasing the software service, your transaction has been canceled. You have not been charged.</p>

    <p>Please email me to proceed with the purchase: <%= profile.email.receiver %></p>

    <img src="images/web-technologies-collection.png" alt="" style="width:500px" />

  </div>

  <div class="image">
    <img src="../../images/mountains-kalen-emsley.jpg" alt="" />
  </div>
</section>
