<!-- One -->
<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <header>
      <h2>Choose Service & Package</h2>
      <p>For service details visit the <a href="<%= profile.pricing %>" target="_blank">Pricing Page</a>.</p>
    </header>

    <form method="post" action="/payments/purchase">
      <div class="fields">
        <div class="field">
          <select name="service" id="service">
            <option value="">- Select a Service From the DropDown -</option>
            <% let ctr = 0 %>
            <% pricing.forEach(function(service) { %>
            <% const postfix = (ctr === 0) ? ' (default)' : '' %>
            <option value="<%= service.name %>"><%= service.name %><%= postfix %></option>
            <% ctr++; %>
            <% }); %>
          </select>
        </div>
        <div class="field third">
          <input type="radio" id="basic" name="package" value="basic" checked />
            <label for="basic">Basic</label>
        </div>
        <div class="field third">
          <input type="radio" id="standard" name="package" value="standard" />
          <label for="standard">standard</label>
        </div>
        <div class="field third">
          <input type="radio" id="premium" name="package" value="premium" />
          <label for="premium">premium</label>
        </div>
      </div>
      <ul class="actions" style="width: auto;">
        <li><input type="submit" name="submit" id="submit" value="Next" /></li>
      </ul>
    </form>

    <img src="images/web-technologies-collection.png" alt="" style="width:500px;margin-left:auto;margin-right:auto;" />

  </div>
  <div class="image">
    <img src="images/mountains-kalen-emsley.jpg" alt="" />
  </div>
</section>
